In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('Crime_Data_from_2010_to_2019_20241118.csv')
df2=pd.read_csv('Crime_Data_from_2020_to_Present_20241118.csv')
print(df1.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA   \
0    1307355  02/20/2010 12:00:00 AM  02/20/2010 12:00:00 AM      1350     13
1   11401303  09/13/2010 12:00:00 AM  09/12/2010 12:00:00 AM        45     14
2   70309629  08/09/2010 12:00:00 AM  08/09/2010 12:00:00 AM      1515     13
3   90631215  01/05/2010 12:00:00 AM  01/05/2010 12:00:00 AM       150      6
4  100100501  01/03/2010 12:00:00 AM  01/02/2010 12:00:00 AM      2100      1

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0     Newton         1385         2     900
1    Pacific         1485         2     740
2     Newton         1324         2     946
3  Hollywood          646         2     900
4    Central          176         1     122

                                         Crm Cd Desc  ... Status  \
0                           VIOLATION OF COURT ORDER  ...     AA
1  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...     IC
2                          OTHER MISCELLANEOUS CRIME  ...     IC
3                           VIOLATION OF COURT ORDER  ...     IC
4                                    RAPE, ATTEMPTED  ...     IC

    Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0  Adult Arrest    900.0      NaN       NaN      NaN
1   Invest Cont    740.0      NaN       NaN      NaN
2   Invest Cont    946.0      NaN       NaN      NaN
3   Invest Cont    900.0    998.0       NaN      NaN
4   Invest Cont    122.0      NaN       NaN      NaN

                                  LOCATION                     Cross Street  \
0   300 E  GAGE                         AV                              NaN
1          SEPULVEDA                    BL  MANCHESTER                   AV
2  1300 E  21ST                         ST                              NaN
3          CAHUENGA                     BL  HOLLYWOOD                    BL
4          8TH                          ST  SAN PEDRO                    ST

       LAT       LON
0  33.9825 -118.2695
1  33.9599 -118.3962
2  34.0224 -118.2524
3  34.1016 -118.3295
4  34.0387 -118.2488

[5 rows x 28 columns]

In [3]:
common_cols = df1.columns.intersection(df2.columns)  
unique_to_df1 = df1.columns.difference(df2.columns)  
unique_to_df2 = df2.columns.difference(df1.columns)  

print("Common columns:", common_cols.tolist())  
print("\nColumns unique to df1:", unique_to_df1.tolist())
print("Columns unique to df2:", unique_to_df2.tolist())

Common columns: ['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA NAME', 'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes', 'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc', 'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT', 'LON']

Columns unique to df1: ['AREA ']
Columns unique to df2: ['AREA']

In [4]:
df1.rename(columns={'AREA ' : 'AREA' }, inplace=True)

In [5]:
df= pd.concat([df1,df2], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3077500 entries, 0 to 3077499
Data columns (total 28 columns):
 #   Column          Dtype
---  ------          -----
 0   DR_NO           int64
 1   Date Rptd       object
 2   DATE OCC        object
 3   TIME OCC        int64
 4   AREA            int64
 5   AREA NAME       object
 6   Rpt Dist No     int64
 7   Part 1-2        int64
 8   Crm Cd          int64
 9   Crm Cd Desc     object
 10  Mocodes         object
 11  Vict Age        int64
 12  Vict Sex        object
 13  Vict Descent    object
 14  Premis Cd       float64
 15  Premis Desc     object
 16  Weapon Used Cd  float64
 17  Weapon Desc     object
 18  Status          object
 19  Status Desc     object
 20  Crm Cd 1        float64
 21  Crm Cd 2        float64
 22  Crm Cd 3        float64
 23  Crm Cd 4        float64
 24  LOCATION        object
 25  Cross Street    object
 26  LAT             float64
 27  LON             float64
dtypes: float64(8), int64(7), object(13)
memory usage: 657.4+ MB

In [6]:
df.columns=df.columns.str.strip().str.replace(" ","_").str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3077500 entries, 0 to 3077499
Data columns (total 28 columns):
 #   Column          Dtype
---  ------          -----
 0   dr_no           int64
 1   date_rptd       object
 2   date_occ        object
 3   time_occ        int64
 4   area            int64
 5   area_name       object
 6   rpt_dist_no     int64
 7   part_1-2        int64
 8   crm_cd          int64
 9   crm_cd_desc     object
 10  mocodes         object
 11  vict_age        int64
 12  vict_sex        object
 13  vict_descent    object
 14  premis_cd       float64
 15  premis_desc     object
 16  weapon_used_cd  float64
 17  weapon_desc     object
 18  status          object
 19  status_desc     object
 20  crm_cd_1        float64
 21  crm_cd_2        float64
 22  crm_cd_3        float64
 23  crm_cd_4        float64
 24  location        object
 25  cross_street    object
 26  lat             float64
 27  lon             float64
dtypes: float64(8), int64(7), object(13)
memory usage: 657.4+ MB

In [7]:
df.drop(columns=['crm_cd_1','crm_cd_2','crm_cd_3','crm_cd_4','part_1-2','cross_street','area','mocodes','crm_cd','premis_cd','weapon_used_cd','status'], inplace=True)

In [8]:
df.rename(columns={'lat':'latitude','lon':'longitude','crm_cd':'crime_code','rpt_dist_no':'district_no','dr_no':'doc_no','vict_descent':'vict_race'})

,doc_no,date_rptd,date_occ,time_occ,area_name,district_no,crm_cd_desc,vict_age,vict_sex,vict_race,premis_desc,weapon_desc,status_desc,location,latitude,longitude
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,Newton,1385,VIOLATION OF COURT ORDER,48,M,H,SINGLE FAMILY DWELLING,NaN,Adult Arrest,300 E GAGE AV,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,Pacific,1485,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,M,W,STREET,NaN,Invest Cont,SEPULVEDA BL,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,Newton,1324,OTHER MISCELLANEOUS CRIME,0,M,H,ALLEY,NaN,Invest Cont,1300 E 21ST ST,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,Hollywood,646,VIOLATION OF COURT ORDER,47,F,W,STREET,HAND GUN,Invest Cont,CAHUENGA BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,Central,176,"RAPE, ATTEMPTED",47,F,H,ALLEY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,8TH ST,34.0387,-118.2488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077495,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,Wilshire,788,VEHICLE - STOLEN,0,NaN,NaN,STREET,NaN,Invest Cont,4000 W 23RD ST,34.0362,-118.3284
3077496,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,Central,101,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,HOTEL,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,1300 W SUNSET BL,34.0685,-118.2460
3077497,240410786,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,Hollenbeck,421,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",29,M,B,RESTAURANT/FAST FOOD,NaN,Invest Cont,1700 ALBION ST,34.0675,-118.2240
3077498,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,Southwest,358,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",70,F,W,SIDEWALK,STICK,Invest Cont,FLOWER ST,34.0215,-118.2868
3077499,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,Van Nuys,914,VEHICLE - STOLEN,0,NaN,NaN,PARKING LOT,NaN,Invest Cont,6900 VESPER AV,34.1961,-118.4510

In [9]:
df.fillna("null")

,dr_no,date_rptd,date_occ,time_occ,area_name,rpt_dist_no,crm_cd_desc,vict_age,vict_sex,vict_descent,premis_desc,weapon_desc,status_desc,location,lat,lon
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,Newton,1385,VIOLATION OF COURT ORDER,48,M,H,SINGLE FAMILY DWELLING,null,Adult Arrest,300 E GAGE AV,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,Pacific,1485,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,M,W,STREET,null,Invest Cont,SEPULVEDA BL,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,Newton,1324,OTHER MISCELLANEOUS CRIME,0,M,H,ALLEY,null,Invest Cont,1300 E 21ST ST,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,Hollywood,646,VIOLATION OF COURT ORDER,47,F,W,STREET,HAND GUN,Invest Cont,CAHUENGA BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,Central,176,"RAPE, ATTEMPTED",47,F,H,ALLEY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,8TH ST,34.0387,-118.2488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077495,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,Wilshire,788,VEHICLE - STOLEN,0,null,null,STREET,null,Invest Cont,4000 W 23RD ST,34.0362,-118.3284
3077496,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,Central,101,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,HOTEL,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,1300 W SUNSET BL,34.0685,-118.2460
3077497,240410786,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,Hollenbeck,421,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",29,M,B,RESTAURANT/FAST FOOD,null,Invest Cont,1700 ALBION ST,34.0675,-118.2240
3077498,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,Southwest,358,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",70,F,W,SIDEWALK,STICK,Invest Cont,FLOWER ST,34.0215,-118.2868
3077499,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,Van Nuys,914,VEHICLE - STOLEN,0,null,null,PARKING LOT,null,Invest Cont,6900 VESPER AV,34.1961,-118.4510

In [10]:
df = df.drop_duplicates(subset=['dr_no'])

In [12]:

df['date_rptd'] = pd.to_datetime(df['date_rptd'], format='%Y-%m-%d', errors='coerce')
df['date_occ'] = pd.to_datetime(df['date_occ'], format='%Y-%m-%d', errors='coerce')

In [13]:
df.columns = df.columns.str.strip().str.lower()
if 'time_occ' in df.columns:
    df['time_occ'] = df['time_occ'].astype(str)  
    df['time_occ'] = df['time_occ'].str.zfill(4) 
    df['time_occ'] = pd.to_datetime(df['time_occ'], format='%H%M').dt.time 
else:
    print("Column 'time_occ' not found in the DataFrame")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2267295 entries, 0 to 3077499
Data columns (total 16 columns):
 #   Column        Dtype
---  ------        -----
 0   dr_no         int64
 1   date_rptd     datetime64[ns]
 2   date_occ      datetime64[ns]
 3   time_occ      object
 4   area_name     object
 5   rpt_dist_no   int64
 6   crm_cd_desc   object
 7   vict_age      int64
 8   vict_sex      object
 9   vict_descent  object
 10  premis_desc   object
 11  weapon_desc   object
 12  status_desc   object
 13  location      object
 14  lat           float64
 15  lon           float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(9)
memory usage: 294.1+ MB

In [15]:
print(df.head())

       dr_no  date_rptd   date_occ  time_occ  area_name  rpt_dist_no  \
0    1307355 2010-02-20 2010-02-20  13:50:00     Newton         1385
1   11401303 2010-09-13 2010-09-12  00:45:00    Pacific         1485
2   70309629 2010-08-09 2010-08-09  15:15:00     Newton         1324
3   90631215 2010-01-05 2010-01-05  01:50:00  Hollywood          646
4  100100501 2010-01-03 2010-01-02  21:00:00    Central          176

                                         crm_cd_desc  vict_age vict_sex  \
0                           VIOLATION OF COURT ORDER        48        M
1  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...         0        M
2                          OTHER MISCELLANEOUS CRIME         0        M
3                           VIOLATION OF COURT ORDER        47        F
4                                    RAPE, ATTEMPTED        47        F

  vict_descent             premis_desc  \
0            H  SINGLE FAMILY DWELLING
1            W                  STREET
2            H                   ALLEY
3            W                  STREET
4            H                   ALLEY

                                      weapon_desc   status_desc  \
0                                             NaN  Adult Arrest
1                                             NaN   Invest Cont
2                                             NaN   Invest Cont
3                                        HAND GUN   Invest Cont
4  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)   Invest Cont

                                  location      lat       lon
0   300 E  GAGE                         AV  33.9825 -118.2695
1          SEPULVEDA                    BL  33.9599 -118.3962
2  1300 E  21ST                         ST  34.0224 -118.2524
3          CAHUENGA                     BL  34.1016 -118.3295
4          8TH                          ST  34.0387 -118.2488

In [16]:
race_list = {
    'A': 'Other Asian',
    'B': 'Black',
    'C': 'Chinese',
    'D': 'Cambodian',
    'F': 'Filipino',
    'G': 'Guamanian',
    'H': 'Hispanic/Latin/Mexican',
    'I': 'American Indian/Alaskan Native',
    'J': 'Japanese',
    'K': 'Korean',
    'L': 'Laotian',
    'O': 'Other',
    'P': 'Pacific Islander',
    'S': 'Samoan',
    'U': 'Hawaiian',
    'V': 'Vietnamese',
    'W': 'White',
    'X': 'Unknown',
    'Z': 'Asian Indian'
}

# Map ethnicity and sex directly
df['vict_descent'] = df['vict_descent'].map(race_list).fillna('Unknown')
df['vict_sex'] = df['vict_sex'].map({'M': 'Male', 'F': 'Female'}).fillna('Unknown')
print(df[['vict_descent', 'vict_sex']])

                   vict_descent vict_sex
0        Hispanic/Latin/Mexican     Male
1                         White     Male
2        Hispanic/Latin/Mexican     Male
3                         White   Female
4        Hispanic/Latin/Mexican   Female
...                         ...      ...
3077495                 Unknown  Unknown
3077496                 Unknown  Unknown
3077497                   Black     Male
3077498                   White   Female
3077499                 Unknown  Unknown

[2267295 rows x 2 columns]

In [17]:
df=df.rename(columns={'lat':'latitude','lon':'latitude','crm_cd':'crime_code','rpt_dist_no':'district_no','dr_no':'doc_no','vict_descent':'vict_race'})
print(df.columns)

Index(['doc_no', 'date_rptd', 'date_occ', 'time_occ', 'area_name',
       'district_no', 'crm_cd_desc', 'vict_age', 'vict_sex', 'vict_race',
       'premis_desc', 'weapon_desc', 'status_desc', 'location', 'latitude',
       'latitude'],
      dtype='object')

In [18]:
df.to_csv('Cleaned_Crime_Data_from_2010_to_Present.csv', index=False)